{% extends 'alhopics/base.html' %}


{% block body_content %}

    {% block content %}{% endblock %}
    {% include "alhopics/picturelist.html" %}

{% endblock %}


{% block script %}

var cam_ids          = [ {% for camid in cameras %} {{ camid }}, {% endfor %} ];
var last_valid_start = -1;
var last_valid_end   = -1;


function start() {
    updateDates(new Date(), "prev", "{{ type }}");
}

$(function()
{
    $("#datepicker").datepicker({
        dateFormat: 'yy-mm-dd',
        onSelect: function(date) {
          updateDates(new Date(date), "prev", "{{ type }}");
        },
    });
});

function getPreviousImages()
{
    updateDates(last_valid_start, "prev", "{{ type }}");
}

function getNextImages()
{
    updateDates(last_valid_end, "next", "{{ type }}");
}

window.onload = start();

{% endblock %}