{% load static %}

<!DOCTYPE html>
<meta charset="utf-8"/>

<html>

<head>
  <title>AlhoCam</title>
  <link rel="stylesheet" type="text/css" href="{% static "alho_style.css" %}">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
</head>

<body>
  <ul>
    <li><a href=".">Kamerakuva</a></li>
    <li><a href="event">Tapahtumat</a></li>
    <li><a href="movement">Liikekuva</a></li>
    <li><a href="graph">Graafit</a></li>
    <li><a class="active" href="debug">Debug</a></li>
    <li style="float:right">
      <div class="logout_container">
        <div class="logout_text">Kirjauduttu käyttäjänä <b>{{ user }}</b></div>
        <a class="logout_link" href="logout">Kirjaudu ulos</a>
      </div>
    </li>
  </ul>

  <br>  <br>
  <h3>Livekuva</h3>
  <br>
  <button type="button" onclick="sendCommand('light', 'on')">Valot päälle (5 min)</button>
  <button type="button" onclick="sendCommand('light', 'off')">Valot pois</button>
  <br>  <br>
  <button type="button" onclick="sendCommand('livestream', 'on')">Livestream päälle</button>
  <button type="button" onclick="sendCommand('livestream', 'off')">Livestream pois</button>
  <br>  <br>
  <img id="liveimage_1">
  <img id="liveimage_2">

  <br>  <br>
  <h3>Saapuneet viestit</h3>
  <br>
  <div id="debugtuloste" style="max-height:209px;overflow:auto;">> </div>

</body>

<script src="{% static "alhoscript.js" %}"></script>

<script>
socket = new WebSocket("ws://" + window.location.host + "/chat/");

socket.onmessage = function(event)
{
  var msg = JSON.parse(event.data);
  if ("text" in msg)
  {
    var div = document.getElementById('debugtuloste');
    div.innerHTML = div.innerHTML + msg.text + "<br/>";
    div.scrollTop = div.scrollHeight;
  }
  else if ("livepic" in msg)
  {
    img = document.getElementById('liveimage_' + msg.source)
    img.src = 'data:image/jpeg;base64,' + msg.livepic;
  }
}

// Call onopen directly if socket is already open
if (socket.readyState == WebSocket.OPEN) socket.onopen();
</script>

</html>
