{% extends 'alhopics/base.html' %}

{% block body_content %}

<ul>
    <li><a href=".">Kamerakuva</a></li>
    <li><a class="active" href="event">Tapahtumat</a></li>
    <li><a href="movement">Liikekuva</a></li>
    <li><a href="graph">Graafit</a></li>
    <li><a href="debug">Debug</a></li>
    <li style="float:right">
        <div class="logout_container">
            <div class="logout_text">Kirjauduttu käyttäjänä <b>{{ user }}</b></div>
            <a class="logout_link" href="logout">Kirjaudu ulos</a>
        </div>
    </li>
</ul>
<br>
<h3>Valo-ohjaukset</h3>
<br>
<button type="button" onclick="sendCommand('light', 'on')">Valot päälle (5 min)</button>
<button type="button" onclick="sendCommand('light', 'off')">Valot pois</button>
<br><br>

<table id="lightcontrol" class="centre-align"></table>
<br>
<h3>Liiketunnistustapahtumat</h3>
<br>
<table id="movement" class="centre-align"></table>

{% endblock %}


{% block script %}

function start() {
    updateLightControl();
    updateMovement();
}

window.onload = start();

{% endblock %}