{% load static %}

<!DOCTYPE html>
<meta charset="utf-8"/>

<html>

<head>
  <title>AlhoCam</title>
  <link rel="stylesheet" type="text/css" href="{% static "alho_style.css" %}">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
</head>

<body>
  <ul>
    <li><a href=".">Kamerakuva</a></li>
    <li><a href="event">Tapahtumat</a></li>
    <li><a href="movement">Liikekuva</a></li>
    <li><a class="active" href="graph">Graafit</a></li>
    <li><a href="debug">Debug</a></li>
    <li style="float:right">
      <div class="logout_container">
        <div class="logout_text">Kirjauduttu käyttäjänä <b>{{ user }}</b></div>
        <a class="logout_link" href="logout">Kirjaudu ulos</a>
      </div>
    </li>
  </ul>

  <img src="charts/rpi_temp.png">
  <img src="charts/pics_per_day.png">
  <img src="charts/megabytes_per_day.png">

</body>

</html>
