{% load static %}

<!DOCTYPE html>
<meta charset="utf-8"/>

<html>

<head>
  <title>AlhoCam</title>
  <link rel="stylesheet" type="text/css" href="{% static "alho_style.css" %}">
</head>

<body class="small login">

    <div style="position:relative; height: 100%; width:100%;">
        <img src="../static/banner.jpg" alt="some_text" style="width: 100%; z-index: 0; position:absolute; top:0; left:0; right:0; bottom:0; margin:auto">
    </div>

    <div id="container">
        <div id="content">
            <div class="wrapper">
                <h2>Kirjauduttu ulos!</h2>
            </div> <!-- wrapper -->
        </div> <!-- content -->
    </div> <!-- container -->

</body>

</html>