{% block picturelist %}
  <div style="height: 10px;"> </div>

  <div style="display: flex; margin: auto; vertical-align: top;">
    <div style="max-width: 1024px;">
      {% for camid in cameras %}
      <div class="img_background">
        <img class="animimg" id="cam{{ camid }}_image" src="" alt="" style="width: 100%; display: block; border: 0;">
        <div style="display: flex;">
          <div id="cam{{ camid }}_info1" style="flex-grow:1"> </div>
          <div id="cam{{ camid }}_info2" style="flex-grow:1"> </div>
          <div id="cam{{ camid }}_info3" style="flex-grow:1"> </div>
          <div id="cam{{ camid }}_info4" style="flex-grow:1"> </div>
        </div>
      </div>
      <div style="height: 10px;"> </div>
      {% endfor %}
    </div>

    <div style="width: 10px;"> </div>

    <div class="img_background" style="width: 200px;">
      <p>Valitse päivä <input type="text" id="datepicker"></p>
      <div class="container">
        <div class="flex-item"><a href="Edellinen" onclick="getPreviousImages();return false;">« Edellinen</a></div>
        <div class="flex-item" id="cam_timespan">Aika</div>
        <div class="flex-item"><a href="Seuraava" onclick="getNextImages();return false;">Seuraava »</a></div>
      </div>
      <hr>

      <table id="cam_select" style="border-collapse:collapse; padding:0px; margin:0px">
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
{% endblock picturelist %}